.section-about {
  background-color: $color-grey-light-1;
  padding: 25em 0;
  margin-top: -25vh;
}

.section-features {
  padding: 20rem 0;
  background-image: linear-gradient(to right bottom, rgba($color-primary-light, 0.8), rgba($color-primary-dark, 0.8)), url(../img/nat-4.jpg);
  background-size: cover;
  background-position: top;
  transform: skewY(-7deg); // torcemos 7 grados
  margin-top: -15rem;
  // todos los hijos directos, en este caso tenemos solo row
  & > * {
    transform: skewY(7deg); // quitamos el skew compensando los 7 grados
  }
}

.section-tours {
  margin-top: -15rem;
  background-color: $color-grey-light-1;
  padding: 25em 0 5em 0;
}

.section-stories {
  position: relative;
  padding: 15rem 0;
  background-color: transparent;
}
